<h1 id="tableLabel">Employee Salary</h1>

<p *ngIf="!employeeSalaries"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employeeSalaries">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Salary</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeSalaries">
      <td>{{ emp.empSal_EmployeeName }}</td>
      <td>{{ emp.empSal_Salary }}</td>
      <td>{{ emp.empSal_StartDate  | date: 'dd/MM/yyyy'}}</td>
      <td>{{ emp.empSal_EndDate  | date: 'dd/MM/yyyy'}}</td>
      <td>
        <!--<a [attr.href]="emp.empSal_Id">
          Edit
        </a>-->
        <button type="button" id="btn_Edit" class="btn btn-success" ng-click="EditSalary(emp.empSal_Id)"><i class="fa fa-edit"></i>Edit</button>
      </td>
      <td>
        <!--<a [attr.href]="emp.empSal_Id">
          Delete
        </a>-->
        <button type="button" id="btn_Delete" class="btn btn-danger" ng-click="DeleteSalary(emp.empSal_Id)"><i class="fa fa-trash-o"></i>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
