<h1 id="tableLabel">Employee</h1>

<p *ngIf="!employees"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Department</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.emp_Name }}</td>
      <td>{{ emp.emp_DOB | date: 'dd/MM/yyyy'}}</td>
      <td>{{ emp.emp_DepartmentName }}</td>
      <td>
        <span *ngIf="(emp.emp_Status == 1)">Active</span>
        <span *ngIf="(emp.emp_Status == 0)" style="color:red;">Inactive</span>
      </td>
      <td>
        <!--<a [attr.href]="emp.emp_Id">
          Edit
        </a>-->
        <button type="button" id="btn_Edit" class="btn btn-success" ng-click="EditEmp(emp.emp_Id)"><i class="fa fa-edit"></i>Edit</button>
      </td>
      <td>
        <!--<a [attr.href]="emp.emp_Id">
          Delete
        </a>-->
        <button type="button" id="btn_Delete" class="btn btn-danger" ng-click="DeleteEmp(emp.emp_Id)"><i class="fa fa-trash-o"></i>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
