<h1 id="tableLabel">Employee Document</h1>

<p *ngIf="!employeeDocuments"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employeeDocuments">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Document Type</th>
      <th>Document</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeDocuments">
      <td>{{ emp.empDoc_EmployeeName }}</td>
      <td>{{ emp.empDoc_TypeName }}</td>
      <td>
        <a [attr.href]="emp.empDoc_File">
          View
        </a>
      </td>
      <td>
        <span *ngIf="(emp.empDoc_Status == 1)">Active</span>
        <span *ngIf="(emp.empDoc_Status == 0)">Inactive</span>
      </td>
      <td>
        <a [attr.href]="emp.empDoc_Id">
          Edit
        </a>
      </td>
      <td>
        <a [attr.href]="emp.empDoc_Id">
          Delete
        </a>
      </td>
    </tr>
  </tbody>
</table>
