<h1 id="tableLabel">Employee Document</h1>

<p *ngIf="!employeeDocuments"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employeeDocuments">
  <thead>
    <tr>
      <th>Employee Name</th>
      <th>Document Type</th>
      <th>Document</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeDocuments">
      <td>{{ emp.empDoc_EmployeeName }}</td>
      <td>{{ emp.empDoc_TypeName }}</td>
      <td>
        <!--<a [attr.href]="emp.empDoc_File" [attr.target]="_blank">
          View
        </a>-->
        <button type="button" id="btn_View" class="btn btn-primary" ng-click="ViewDoc(emp.empDoc_File)"><i class="fa fa-eye"></i>View</button>
      </td>
      <td>
        <span *ngIf="(emp.empDoc_Status == 1)">Active</span>
        <span *ngIf="(emp.empDoc_Status == 0)" style="color:red;">Inactive</span>
      </td>
      <td>
        <!--<a [attr.href]="emp.empDoc_Id">
          Edit
        </a>-->
        <button type="button" id="btn_Edit" class="btn btn-success" ng-click="EditDoc(emp.empDoc_Id)"><i class="fa fa-edit"></i>Edit</button>
      </td>
      <td>
        <!--<a [attr.href]="emp.empDoc_Id">
          Delete
        </a>-->
        <button type="button" id="btn_Delete" class="btn btn-danger" ng-click="DeleteDoc(emp.empDoc_Id)"><i class="fa fa-trash-o"></i>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
